<app-header></app-header>
<div class="body">
    <h1>Audiciones Pendientes</h1>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="nuevaAudicion()">Nueva
                    Audición</button>
            </div> <!-- End of column -->

        </div> <!-- End of row -->
        <br />

        <!-- Listing table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="cust-table-cont">
                    <div class="table-responsive">
                        <table class="table cust-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of headerTabla">{{item}}</th>
                                    <th style="width:150px;" class="text-center">
                                        <i class="bi bi-gear-fill"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of audiciones, let i = index">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.celular}}</td>
                                    <td>{{item.correo}}</td>
                                    <td>{{item.grupo}}</td>

                                    <td class="text-center">
                                        <button class="btn btn-outline-success del-icon" (click)="aceptarAudicion(i)">
                                            <span><i class={{verdeBtn}}>
                                                </i></span>
                                        </button>
                                        <button class="btn btn-outline-danger del-icon" (click)="rechazarAudicion(i)">
                                            <span><i class={{rojoBtn}}>
                                                </i></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- End of cust-table-cont block -->
            </div>
        </div> <!-- ENd of row -->

    </div> <!-- /container -->
</div> <!-- ENd of page content wrapper -->