<nav class="navbar">
  <div class="container-fluid nav">
    <a class="navbar-brand logo" (click)="redirigir()"><img class="img" src="../../assets/logoFomentoCultural.png"></a>


    <!--div class="btn-group">
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" (click)="menu()" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="bi bi-person-circle icon"></span>
      </button>
    </div-->


    <div class="navbar-toggler dropstart" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="bi bi-person-circle icon"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','agregar','Roles']">Nuevo Colaborador</a></li>
            <li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','agregar','Instrumentos']">Nuevo Instrumento</a></li>
            <!--li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','agregar','Equipos']">Nuevo Equipo</a></li-->
            <li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','agregar','Salones']">Nuevo Salón</a></li>
            <li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','agregar','Grupos-de-Proyeccion']">Nuevo Grupo de Proyección</a></li>
            <li><a class="dropdown-item" *ngIf="admin  || colaborador" [routerLink]="['/', 'admin','Reservas']">Reservas</a></li>
            <li><a class="dropdown-item" *ngIf="admin" [routerLink]="['/', 'admin','Colaboradores']">Colaboradores</a></li>
            <li><a class="dropdown-item" *ngIf="profesor" [routerLink]="['/', 'teachers','Mis-Grupos']">Mis Grupos</a></li>
            <li><a class="dropdown-item" *ngIf="profesor"[routerLink]="['/', 'teachers','Audiciones']">Audiciones Pendientes</a></li>
            <li><a class="dropdown-item" [routerLink]="['/','logout', 1]">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>


  </div>



</nav>