.img {
    width: 15%;
    height: auto;
}
.logo{
    padding-left: 20px;
}

.img:hover{
    cursor: pointer;
}

.icon {
    color: white;
    font-size: calc(1vw + 1vh + 0.5vmin);
    opacity: 90%;
}

.nav {
    padding-right: 2%;
}

.navbar{
    flex-wrap: nowrap;
    background-color: #ccdc4c;
}

.dropdown-menu.show {
    display: grid;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.nav-link {
    color: #ccdc4c;
}

.nav-link:hover{
    color: #ccdc4c;
}