<app-header></app-header>

<body>
    <div>
        <h1>Reserva de Equipos</h1>
    </div>
    <br>

    <div class="app" *ngIf="!calendario">
        <form class="form" (ngSubmit)="agregarItemReserva()">

            <select [(ngModel)]="inputVal" name="inputVal" class="input form__input">
                <option value="{{item.id}}" *ngFor="let item of items">{{item.name}}</option>
            </select>
            <button class="btn form__submit-btn" type="submit">Agregar</button>

        </form>
        <div tag="ol" name="list" class="todo-list">
            <li class="todo-list__item" key="index" *ngFor="let item of itemsParaReservar, let i = index">
                <button class="todo-list__item-remove" (click)="borrarItemReserva(i)">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
                <label class="todo-list__item-content">
                    {{ item.nombre }}
                </label>
                <div>
                    Cantidad: <input type="number" class="counter" (input)="agregarCatidad(i)" [(ngModel)]="cantidad">
                </div>

            </li>
        </div>
        <div>
            <button *ngIf="itemsParaReservar.length > 0" type="button" class="btn btn-danger">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="hacerReserva()">Guardar</button>
        </div>
    </div>
    <div *ngIf="calendario">
        <app-calendario (bookingChange)="obtenerHora($event)"></app-calendario>
        <div>
            <button *ngIf="itemsParaReservar.length > 0" type="button" class="btn btn-danger">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="siguiente()">Siguiente</button>
        </div>
    </div>
</body>