<app-header></app-header>
<div class="body">
    <h1>Grupos de Proyección</h1>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="redirigir()">Agregar Grupo de
                    Proyección</button>
            </div> <!-- End of column -->

        </div> <!-- End of row -->
        <br />

        <!-- Listing table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="cust-table-cont">
                    <div class="table-responsive">
                        <table class="table cust-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of headerTabla">{{item}}</th>
                                    <th style="width:150px;" class="text-center">
                                        <i class="bi bi-gear-fill"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr key="i" *ngFor="let item of grupos, let i = index">
                                    <td>{{item.nombre}}</td>

                                    <td>{{item.descripcion}}</td>

                                    <td>{{item.profesor}}</td>

                                    <td>{{item.cupos_totales}}</td>

                                    <td>{{item.cupos_restantes}}</td>

                                    <td>{{item.ubicacion}}</td>

                                    <td style="width:150px;">
                                        <table class="table cust-table ">
                                            <thead>
                                                <tr>
                                                    <th>Día</th>
                                                    <th>Hora Inicio</th>
                                                    <th></th>
                                                    <th>Hora Fin</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item2 of item.horario">
                                                    <td>{{item2['dia']}}</td>
                                                    <td>{{item2['hora_inicio']}}</td>
                                                    <td></td>
                                                    <td>{{item2['hora_fin']}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <td class="text-center">
                                        <button class="btn btn-outline-success del-icon" (click)="editar(i, mymodal)">
                                            <span><i class={{verdeBtn}}>
                                                </i></span>
                                        </button>
                                        <button class="btn btn-outline-danger del-icon" (click)="eliminarGrupo(i)">
                                            <span><i class={{rojoBtn}}>
                                                </i></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- End of cust-table-cont block -->
            </div>
        </div> <!-- ENd of row -->

    </div> <!-- /container -->
</div> <!-- ENd of page content wrapper -->


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Grupo de Proyección</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="instrumento" class="register" [formGroup]="gruposForm">

            <fieldset class="row1">
                <!-- PLACA -->
                <div class="form-group">
                    <label>Nombre *</label>
                    <input type="text" formControlName="nombre" class="form-control">
                    <label>Descripción *</label>
                    <input type="text" formControlName="descripcion" class="form-control">
                    <label>Profesor *</label>
                    <input formControlName="profesor" class="form-control">
                    <label>Cupos Totales*</label>
                    <input type="text" formControlName="cupos_totales" class="form-control">
                    <label>Prerequisitos *</label>
                    <input type="text" formControlName="prerequisitos" class="form-control">
                </div>
            </fieldset>
            <!-- Botones -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Guardar')">Guardar</button>
    </div>
</ng-template>