/*.container {
    
}

.wraper {
    flex-wrap: wrap;
}

.card {
    align-items: center;
    text-align: center;
}

.img {
    width: 50%;
    height: auto;
}*/

.img {
    max-width: 50%;
    width: auto;
    height: auto;
}

.card {
    align-items: center;
    text-align: center;
}


.wrapper {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
    position: relative;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
}