<app-header></app-header>


<div ng-app="slider" >
  <div class="slider" (window:resize)="onResize($event)">
    <div class="left">
      <button (click)="moveLeft()" [hidden]="setSlidesVar==slides.length">
        <i class="bi bi-arrow-left-short" aria-hidden="true"></i>
      </button>
    </div>

    <div class="card2" *ngFor="let slide of slides; let i = index" [hidden]="!(i >= start && i <= setSlidesVar-1)">

      <div class="card">
        <img src="../../../assets/img-01.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{slide.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
    <div class="right">
      <button (click)="moveRight()" [hidden]="start==0">
        <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </button>
    </div>

  </div>
</div>

<app-footer></app-footer>