<!--app-header></app-header-->


<div ng-app="slider" ng-controller="MainCtrl" (slide)="true">
  <div class="slider" ng-controller="SliderCtrl">
    <div class="left">
      <button ng-click="start=start+1; setSlides=setSlides+1" ng-hide="setSlides==slides.length">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
    </div>

    <div class="card2" ng-repeat="slide in slides track by $index" ng-show="$index >= start && $index <= setSlides-1"
      ng-style="slide" ng-click="addItem(slide,name)">
      <div class="card" >
        <img src="../../../assets/img-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card2" ng-repeat="slide in slides track by $index" ng-show="$index >= start && $index <= setSlides-1"
      ng-style="slide" ng-click="addItem(slide,name)">
      <div class="card" >
        <img src="../../../assets/img-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card2" ng-repeat="slide in slides track by $index" ng-show="$index >= start && $index <= setSlides-1"
      ng-style="slide" ng-click="addItem(slide,name)">
      <div class="card" >
        <img src="../../../assets/img-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card2" ng-repeat="slide in slides track by $index" ng-show="$index >= start && $index <= setSlides-1"
      ng-style="slide" ng-click="addItem(slide,name)">
      <div class="card" >
        <img src="../../../assets/img-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card2" ng-repeat="slide in slides track by $index" ng-show="$index >= start && $index <= setSlides-1"
      ng-style="slide" ng-click="addItem(slide,name)">
      <div class="card" >
        <img src="../../../assets/img-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="right">
      <button ng-click="start=start-1; setSlides=setSlides-1" ng-hide="start==0">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<!--div class="row row-cols-md-2">

  <div class="wrapper">

    <div class="container">
      <div class="col">
        <div class="card-container">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="../../../assets/img-01.png" class="card-img-top img">
            <div class="card-body">
              <h5 class="card-title">Reserva de Instrumentos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col">
        <div class="card-container">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="../../../assets/img-01.png" class="card-img-top img">
            <div class="card-body">
              <h5 class="card-title">Reserva de Instrumentos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col">
        <div class="card-container">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="../../../assets/img-01.png" class="card-img-top img">
            <div class="card-body">
              <h5 class="card-title">Reserva de Instrumentos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col">
        <div class="card-container">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="../../../assets/img-01.png" class="card-img-top img">
            <div class="card-body">
              <h5 class="card-title">Reserva de Instrumentos</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div-->

<!--app-footer></app-footer-->