body {
  background: radial-gradient(circle, #C8F7C5, #DADFE1);
}

.slider {
  display: flex;
  width: 90%;
  height: auto;
  justify-content: center;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.left,
.right {
  height: 200px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left button,
.right button {
  background-color: transparent;
  font-size: 24px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  cursor: pointer;
}

.left button:disabled,
.right button:disabled {
  background-color: transparent;
  font-size: 24px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  color: lightgrey;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  cursor: auto;
}

.left button:hover:disabled,
.right button:hover:disabled {

  background-color: white;
  color: lightgrey;
}

.left button:hover,
.right button:hover {
  background-color: #F4D331;
  color: white;
}

.card2 {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  height: 200px;
  width: auto;
  justify-content: center;
  align-items: center;
}

.card {
  align-items: center;
  width: 70%;
}

.btn {
  display: block;
  width: 50%;
  margin: auto;
  background: #009045;
}

.txt1 {
  color: #009045;
  font-weight: bold;
  font-size: small;
}

.txt2 {
  font-size: small;
}