<app-header></app-header>


<div ng-app="slider">
  <div class="slider">

    <div class="card2" *ngFor="let slide of slides; let i = index">

      <div class="card">
        <img src="../../../assets/img-01.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{slide.nombre}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a (click)="verMas(slide.modulo)" class="btn btn-primary">Ver Más</a>
        </div>
      </div>

    </div>

  </div>
</div>