<app-header></app-header>

<div class="row" *ngIf="role === 'Profesor'">
  <div class="col">
    <button class="btn btn-success del-icon" (click)="redirigir('Audiciones')">
      Audiciones Pendientes
    </button>
    <button class="btn btn-success" (click)="redirigir('Mis-Grupos')">
      Mis Grupos
    </button>
  </div>
</div>
<div class="body">
  <h1>Grupos de Proyección</h1>
</div>
<div>
  <div class="slider2" (window:resize)="onResize($event)">
    <div class="left">
      <button (click)="moveLeft()" [disabled]="start==0">
        <i class="bi bi-arrow-left-short" aria-hidden="true"></i>
      </button>
    </div>

    <div class="card2" *ngFor="let grupo of grupos; let i = index" [hidden]="!(i >= start && i <= setSlidesVar-1)">

      <div class="card">
        <img src="../../../assets/img-01.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{grupo.nombre}}</h5>
          <p class="card-text">
            <span class="txt1">
              Descripción
            </span>
            <span class="txt2">
              {{grupo.descripcion}}
            </span>
          </p>
          <p class="card-text">
            <span class="txt1">
              Horario:
            </span>
            <span class="txt2">
              Some quick example text
            </span>
          </p>
          <p class="card-text">
            <span class="txt1">
              Pre-Requisitos:
            </span>
            <span class="txt2">
              {{grupo.prerequisitos}}
            </span>
          </p>
          <a (click)="audicionar(grupo.nombre)" class="btn btn-primary">Audicionar</a>
        </div>
      </div>

    </div>
    <div class="right">
      <button (click)="moveRight()" [disabled]="setSlidesVar==grupos.length">
        <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
      </button>
    </div>

  </div>
</div>