<app-header></app-header>
<div class="body">
    <h1>{{modulo}}</h1>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="nuevaReserva()" *ngIf="nuevaReservaBtn">Nueva Reserva</button>
            </div> <!-- End of column -->
            <div class="col">
                <button type="button" class="btn btn-success" (click)="redirigir()" *ngIf="agregarBtn">Agregar {{modulo}}</button>
            </div> <!-- End of column -->

        </div> <!-- End of row -->
        <br />

        <!-- Listing table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="cust-table-cont">
                    <div class="table-responsive">
                        <table class="table cust-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of headerTabla">{{item}}</th>
                                    <th style="width:150px;" class="text-center">
                                        <i class="bi bi-gear-fill"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td *ngFor="let item of headerTabla">Lorem ipsum dolor sit</td>
                                    <td class="text-center">
                                        <button  class="btn btn-outline-success" *ngIf="editarBtn">
                                            <span><i class="bi bi-pencil">
                                            </i></span>
                                        </button>
                                        <button class="btn btn-outline-danger del-icon" *ngIf="eliminarBtn">
                                            <span><i class="bi bi-trash">
                                            </i></span>
                                        </button> 
                                        <button  class="btn btn-outline-success" *ngIf="aceptarBtn">
                                            <span><i class="bi bi-check-lg">
                                            </i></span>
                                        </button>
                                        <button class="btn btn-outline-danger del-icon" *ngIf="rechazarBtn">
                                            <span><i class="bi bi-x-lg">
                                            </i></span>
                                        </button> 

                                        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="713" height="300" style="display: block; height: 334px; width: 793px;"></canvas>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- End of cust-table-cont block -->
            </div>
        </div> <!-- ENd of row -->

    </div> <!-- /container -->
</div> <!-- ENd of page content wrapper -->