.row {
  flex-direction: row-reverse;
}

.col {
  width: auto;
  flex: 0 0 auto;
}

.body {
  color: #0e171c;
  display: grid;
  font: 300 100%/1.5em 'Lato', sans-serif;
  margin-top: 3vh;
  place-items: center;
  margin-bottom: 3vh;
}

.del-icon {
  margin-right: 10px;
}

.btn {
  padding: 0.1rem 0.4rem;
  font-size: medium;
}