<app-header></app-header>
<div class="body">
    <h1>{{modulo}}</h1>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success">Nueva Reserva</button>
            </div> <!-- End of column -->
            <div class="col">
                <button type="button" class="btn btn-success" (click)="redirigir()">Agregar {{modulo}}</button>
            </div> <!-- End of column -->

        </div> <!-- End of row -->
        <br />

        <!-- Listing table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="cust-table-cont">
                    <div class="table-responsive">
                        <table class="table cust-table">
                            <thead>
                                <tr>
                                    <th style="width:80px;">Placa</th>
                                    <th style="width:250px;">Nombre</th>
                                    <th style="width:200px;">Tipo</th>
                                    <th style="width:100px;">Estado</th>
                                    <th style="width:120px;">Descripción</th>
                                    <th style="width:150px;">Status</th>
                                    <th style="width:120px;">Habilitado Para</th>
                                    <th style="width:120px;">Trasladable</th>
                                    <th style="width:120px;">Salon</th>
                                    <th style="width:150px;" class="text-center">
                                        <i class="bi bi-gear-fill"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:80px;">1</th>

                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button class="btn btn-outline-danger del-icon"><span><i
                                                    class="bi bi-trash"></i></span></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>

                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button class="btn btn-outline-danger del-icon"><span><i
                                                    class="bi bi-trash"></i></span></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>

                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button class="btn btn-outline-danger del-icon"><span><i
                                                    class="bi bi-trash"></i></span></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>

                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button
                                            class="btn btn-outline-danger del-icon"><span></span><i
                                                class="bi bi-trash"></i></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>

                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button class="btn btn-outline-danger del-icon"><span><i
                                                    class="bi bi-trash"></i></span></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Lorem ipsum dolor sit</td>
                                    <td>lorem ispusm</td>
                                    <td>high</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td>lorem ipsum</td>
                                    <td class="text-center"><button class="btn btn-outline-danger del-icon"><span><i
                                                    class="bi bi-trash"></i></span></button> <button
                                            class="btn btn-outline-success"><span><i
                                                    class="bi bi-pencil"></i></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- End of cust-table-cont block -->
            </div>
        </div> <!-- ENd of row -->

    </div> <!-- /container -->
</div> <!-- ENd of page content wrapper -->