<app-cargando *ngIf="cargando"></app-cargando>
<app-header></app-header>
<div class="container">
    <div>
        <!-- New -->
        <form name="newGrupo" class="register" [formGroup]="nuevoGrupoForm" (ngSubmit)="guardar()">
            <h1>Nuevo Grupo de Proyección</h1>
            <fieldset class="row1">
                <!-- PLACA -->
                <div class="form-group">
                    <label>Nombre *</label>
                    <input type="text" formControlName="nombre" class="form-control">
                    <label>Descripción *</label>
                    <input type="text" formControlName="descripcion" class="form-control">
                    <label>Profesor *</label>
                    <select formControlName="profesor" class="form-control">
                        <option></option>
                        <option *ngFor="let item of profesores" value={{item.id}}> {{item.nombre + ' ' + item.apellido}}
                        </option>
                    </select>
                    <label>Cupos *</label>
                    <input type="text" formControlName="cupos_totales" class="form-control">
                    <label>Prerequisitos *</label>
                    <input type="text" formControlName="prerequisitos" class="form-control">

                    <div class="row" key="index" *ngFor="let item of dias, let i = index">
                        <div class="col2">
                            <label>Día*</label>
                            <select formControlName="dia" class="form-control">
                                <option value="Lunes">Lunes
                                </option>
                                <option value="Martes">Martes
                                </option>
                                <option value="Miercoles">Miercoles
                                </option>
                                <option value="Jueves">Jueves
                                </option>
                                <option value="Viernes">Viernes
                                </option>
                                <option value="Sabado">Sabado
                                </option>
                            </select>
                        </div>
                        <div class="col2">
                            <label>Hora Inicio*</label>
                            <input class="form-control" formControlName="horaInicio" type="text" mwlFlatpickr
                                [noCalendar]="true" [enableTime]="true" [time24hr]="true" dateFormat="H:i" />
                            <!--ngb-timepicker formControlName="horaInicio" [(ngModel)]="horaInicial"></ngb-timepicker-->
                        </div>
                        <div class="col2">
                            <label>Hora Fin*</label>
                            <input class="form-control" formControlName="horaFin" type="text" mwlFlatpickr
                                [noCalendar]="true" [enableTime]="true" [time24hr]="true" dateFormat="H:i" />
                            <!--ngx-mat-timepicker #picker></ngx-mat-timepicker-->
                            <!--ngx-mat-timepicker formControlName="horaFin" [(ngModel)]="horaFinal"></ngx-mat-timepicker-->
                            <!--ngb-timepicker formControlName="horaFin" [(ngModel)]="horaFinal"></ngb-timepicker-->
                        </div>
                        <div class="col2">
                            <label>Salón *</label>
                            <select formControlName="id_salon_clase" class="form-control">
                                <option *ngFor="let item of salones" value={{item.id}}> {{item.ubicacion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-secondary" (click)="agregarDia()" type="button" [disabled]="agregar">Agregar dia</button>

                    </div>
                </div>


            </fieldset>
            <!-- Botones -->

            <div class="col">
                <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="!nuevoGrupoForm.valid">Guardar</button>
            </div> <!-- End of row -->
        </form>

    </div>





</div> <!-- /container -->