<app-header></app-header>
<div class="container">   
    <div class="body">
        <h3>{{modulo}} Nuevo</h3> 
    </div>
    <div id="new{{modulo}}" class="col3">
        <!-- New -->
        <form name="new{{modulo}}" class="new">
            
            <fieldset class="row1">
                 <!-- PLACA -->
                <div class="form-group">
                    <label>Nombre *</label>
                        <input type="text" name="name" class="form-control">
                    <label>Tipo *</label>
                    <select name="tipo" class="form-group2">
                        <option value="curso">Curso
                        </option>
                        <option value="grupo-Proyección">Grupo de Protección
                        </option>  
                    </select >
                    <label>Descripción *</label>
                        <input type="text" name="description" class="form-control">
                    <label>Profesor *</label>
                    <select name="profesor" class="form-group2">
                        <option value="profesor1">Mario Naranjo
                        </option>
                        <option value="profesor2">Diana Patricia Sanchez
                        </option> 
                        <option value="profesor3">Viviana Restrepo
                        </option>
                        <option value="profesor4">Leidy Lorena Arango
                        </option> 
                        <option value="profesor5">Juan Rojas
                        </option>
                        <option value="profesor6">Juan Fdo. Moreno
                        </option>                          
                    </select >
                    <label>Cupos *</label>
                        <input type="text" name="cupos" class="form-control">
                    <label>Prerequisitos *</label>
                        <input type="text" name="prerequisitos" class="form-control">
                    <label>Horario *</label>
                    <div class="row">
                        <div class="col2">
                            <label>Hora inicio*</label>
                                <select name="horaInicio" class="form-group2">
                                    <option value="8AM">08:00 AM
                                    </option>
                                    <option value="9AM">09:00 AM
                                    </option>
                                    <option value="10AM">10:00 AM
                                    </option>
                                    <option value="11AM">11:00 AM
                                    </option>
                                    <option value="12PM">12:00 PM
                                    </option>
                                    <option value="1PM">01:00 PM
                                    </option>
                                    <option value="2PM">02:00 PM
                                    </option>
                                    <option value="3PM">03:00 PM
                                    </option>
                                    <option value="4PM">04:00 PM
                                    </option>
                                    <option value="5PM">05:00 PM
                                    </option>
                                    <option value="6PM">06:00 PM
                                    </option>
                                    <option value="7PM">07:00 PM
                                    </option>
                                </select >
                        </div>
                        <div class="col2">
                            <label>Hora fin*</label>
                                <select name="horaFin" class="form-group2">
                                    <option value="9AM">09:00 AM
                                    </option>
                                    <option value="930AM">09:30 AM
                                    </option>
                                    <option value="10AM">10:00 AM
                                    </option>
                                    <option value="1030AM">10:30 AM
                                    </option>
                                    <option value="11AM">11:00 AM
                                    </option>
                                    <option value="1130AM">11:30 AM
                                    </option>
                                    <option value="12PM">12:00 PM
                                    </option>
                                    <option value="1230PM">12:30 PM
                                    </option>
                                    <option value="1PM">01:00 PM
                                    </option>
                                    <option value="130PM">01:30 PM
                                    </option>
                                    <option value="2PM">02:00 PM
                                    </option>
                                    <option value="230PM">02:30 PM
                                    </option>
                                    <option value="3PM">03:00 PM
                                    </option>
                                    <option value="330PM">03:30 PM
                                    </option>
                                    <option value="4PM">04:00 PM
                                    </option>
                                    <option value="430PM">04:30 PM
                                    </option>
                                    <option value="5PM">05:00 PM
                                    </option>
                                    <option value="530PM">05:30 PM
                                    </option>
                                    <option value="6PM">06:00 PM
                                    </option>
                                    <option value="630PM">06:30 PM
                                    </option>
                                    <option value="7PM">07:00 PM
                                    </option> 
                                    <option value="730PM">07:30 PM
                                    </option>       
                                </select >
                         </div>
                         <div class="col2">
                            <label>Salón *</label>
                                <select name="salon" class="form-group2">
                                    <option value="101">101
                                    </option>
                                    <option value="102">102
                                    </option> 
                                    <option value="103">103
                                    </option>
                                    <option value="104">104
                                    </option> 
                                    <option value="105">105
                                    </option>
                                    <option value="106">106
                                    </option> 
                                    <option value="201">201
                                    </option>                               
                                </select >
                        </div>
                    </div>
                </div>

                
            </fieldset>

        </form> 
    </div>
     <!-- Botones -->
    <div class="row">
        
         <div class="col">
            <button  type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
        </div> <!-- End of column -->
        
        <div class="col">
             <button type="button" class="btn btn-success" >Guardar</button>
        </div> <!-- End of column -->    
    </div> <!-- End of row -->
           
  
 
    
</div> <!-- /container -->

