<app-header></app-header>
<div class="container">
    <div>
        <!-- New -->
        <form name="cargaArchivos" class="register">
            <h1>Carga de Archivos</h1>
            <br>
            <br>
            <br>
            <fieldset class="row1">   
                <div class="form-group">     
                <h3>Listado de Estudiantes</h3> 
                <hr size="3px"/>     
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFile">
                    <button class="btn btn-success" type="button">Guardar</button>
                  </div>
                <hr size="3px"/>    
                </div>

            </fieldset>

        </form>
    </div>
    <!-- Botones -->
    <div class="col">
        <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
     
    </div> <!-- End of row -->




</div> <!-- /container -->

