<app-cargando  *ngIf="cargando"></app-cargando>
<app-header></app-header>
<div class="container">
    <div>
        <!-- New -->
        <form name="new" class="register" [formGroup]="nuevoColaboradorForm" (ngSubmit)="guardar()">
            <h1>Nuevo Colaborador</h1>
            <fieldset class="row1">

                <div class="form-group">
                    <label>Nombre *</label>
                    <input type="text" formControlName="nombre" class="form-control">
                    <label>Apellidos *</label>
                    <input type="text" formControlName="apellido" class="form-control">
                    <label>Rol*</label>
                    <select formControlName="rol" class="form-control">
                        <option value="Colaborador">Colaborador
                        </option>
                        <option value="Profesor">Profesor
                        </option>
                        <option value="Admin">Admin
                        </option>
                    </select>
                    <label>Tipo Documento *</label>
                    <select formControlName="tipo_documento" class="form-control">
                        <option value="CC">CC - Cédula de ciudadania
                        </option>
                        <option value="TI">TI - Tarjeta de identidad
                        </option>
                        <option value="CE">CE - Cédula de extranjeria
                        </option>
                        <option value="PASAPORTE">Pasaporte
                        </option>
                    </select>
                    <label>Número de documento *</label>
                    <input type="text" formControlName="numero_documento" class="form-control">
                    <label>Número de contacto *</label>
                    <input type="text" formControlName="celular" class="form-control">
                    <label>Correo</label>
                    <input type="email" formControlName="correo" class="form-control">
                </div>


            </fieldset>
            <!-- Botones -->
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-outline-success" [disabled]="!nuevoColaboradorForm.valid">Guardar</button>
            </div> <!-- End of row -->
        </form>
    </div>
</div> <!-- /container -->