<app-header></app-header>
<div class="body">
    <h1>Mis Grupos</h1>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <!-- Listing table -->
        <div class="row">
            <div class="col-sm-12">
                <div class="cust-table-cont">
                    <div class="table-responsive">
                        <table class="table cust-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let item of headerTabla">{{item}}</th>
                                    <th style="width:150px;" class="text-center">
                                        Ver Estudiantes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr key="i" *ngFor="let item of mis_grupos, let i = index">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.prerequisitos}}</td>
                                    <td>{{item.cupos_totales}}</td>
                                    <td>{{item.cupos_restantes}}</td>
                                    <td>{{item.ubicacion}}</td>
                                    <td style="width:150px;">
                                        <table class="table cust-table">
                                            <thead>
                                                <tr>
                                                    <th>Día</th>
                                                    <th>Hora Inicio</th>
                                                    <th></th>
                                                    <th>Hora Fin</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let horario of item.horario, let i = index">
                                                    <td>{{horario.dia}}</td>
                                                    <td>{{horario.hora_inicio}}</td>
                                                    <td></td>
                                                    <td>{{horario.hora_fin}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-secondary del-icon"
                                            (click)="getEstudiantes(i, estudiantesmodal)">
                                            <span><i class="bi bi-eye">
                                                </i></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- End of cust-table-cont block -->
            </div>
        </div> <!-- ENd of row -->

    </div> <!-- /container -->
</div> <!-- ENd of page content wrapper -->

<!--MODAL LISTA ESTUDIANTES-->
<ng-template #estudiantesmodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Estudiantes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <!-- Listing table -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cust-table-cont">
                            <div class="table-responsive">
                                <table class="table cust-table">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let item of headerTablaEstudiantes">{{item}}</th>
                                            <!--th style="width:150px;" class="text-center">
                                                <i class="bi bi-gear-fill"></i>
                                            </th-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr key="i" *ngFor="let item of estudiantes, let i = index">

                                            <td>{{item.tipo_documento + ' ' + item.numero_documento}}</td>
                                            <td>{{item.nombre + ' ' + item.apellido}}</td>
                                            <td>{{item.celular}}</td>
                                            <td>{{item.correo}}</td>
                                            <!--td class="text-center">
                                                <button class="btn btn-outline-danger del-icon">
                                                    <span><i class={{rojoBtn}}>
                                                        </i></span>
                                                </button>
                                            </td-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- End of cust-table-cont block -->
                    </div>
                </div> <!-- ENd of row -->

            </div> <!-- /container -->
        </div> <!-- ENd of page content wrapper -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
    </div>
</ng-template>