<app-cargando  *ngIf="cargando"></app-cargando>
<app-header></app-header>
<div class="container">
    <div>
        <!-- New -->
        <form name="newInstrumento" class="register" [formGroup]="nuevoInstrumentoForm" (ngSubmit)="nuevoInstrumento()">
            <h1>Nuevo Instrumento</h1>
            <fieldset class="row1">
                <!-- PLACA -->
                <div class="form-group">
                    <label>Placa*</label>
                    <input type="text" formControlName="placa" class="form-control">
                </div>

                <div class="form-group">
                    <label>Nombre*</label>
                    <input type="text" formControlName="nombre" class="form-control">
                    <div class="row">
                        <div class="col2">
                            <label>Estado*</label>
                            <select formControlName="estado" class="form-control">
                                <option value="excelente">Excelente
                                </option>
                                <option value="bueno">Bueno
                                </option>
                                <option value="regular">Regular
                                </option>
                                <option value="aceptable">Aceptable
                                </option>
                            </select>
                        </div>
                        <div class="col2">
                            <label>Trasladable*</label>
                            <select formControlName="trasladable" class="form-control">
                                <option value="Si">Si
                                </option>
                                <option value="No">No
                                </option>
                            </select>
                        </div>
                        <div class="col2">
                            <label>Salón</label>
                            <select formControlName="id_salon" class="form-control">
                                <option value=null>No Aplica
                                </option>
                                <option *ngFor="let item of salones" value={{item.id}}> {{item.ubicacion}}
                                </option>
                            </select>
                        </div>
                        <div class="col2">
                            <label>Estatus</label>
                            <select formControlName="estatus" class="form-control">
                                <option value="Habilitado">Habilitado
                                </option>
                                <option value="Desahabilitado">Desahabilitado
                                </option>
                                <option value="Reparacion">Reparación
                                </option>
                            </select>
                        </div>
                    </div>
                    <label>Descripción</label>
                    <textarea formControlName="descripcion_estado" class="form-control"></textarea>
                    <label>Habilitado para</label>
                    <select formControlName="habilitado_para" class="form-control">
                        <option value="Comunidad">Comunidad
                        </option>
                        <option value="Profesor">Profesores
                        </option>
                    </select>
                </div>

            </fieldset>
            <!-- Botones -->
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="!nuevoInstrumentoForm.valid">Guardar</button>
            </div> <!-- End of row -->
        </form>
    </div>

</div> <!-- /container -->