<app-header></app-header>
<body>
    <h1>{{ tipoReserva }}</h1>
    <div id="inputSearch" class="container">
        <div class="form-group">
            <div class="link-dropdown form-control">
                <div class="link-dropdown-search">
                    <div class="link-dropdown-display-item" (click)="toggleDropdown()" *ngIf="!open">
                        <div>{{displayItem()}}</div>
                    </div>
                    <input placeholder="Search and Select" id="displayValue" *ngIf="open" autofocus class="link-dropdown-display-item" [(ngModel)]="instrument" />
                    <div class="link-dropdown-button" (click)="toggleDropdown()">
                        <div class="dropdown-arrow"></div>
                    </div>
                </div>
                <div class="link-dropdown-panel" *ngIf="open">
                    <div class="link-dropdown-item" (click)="itemClicked(i)" *ngFor="let item of items | filter:instrument; let i = index" id="realitems">
                        <option>{{item.field}}</option>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</body>
<app-calendario [tipoReserva]="displayItem()" (bookingChange)="obtenerHora($event)"></app-calendario>
<div>
    <button type="button" class="btn btn-success" (click)="hacerReserva()">Hacer Reserva</button>
</div>